<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1> Messenger !!! A simple online chat application !! </h1>
    <div>
        <h2>User <%=  %>, you are Successfully Logged-In ! </h2>
    </div>

    <div id = 'Logout'>
        <form action = "/logout" method = "POST" >
            <button >Log-Out </button>
        </form>
    </div>

</body>
</html>